<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="fonts/flaticon.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
<style>
    .product-container {
        position: relative;
        display: inline-block;
        padding-right: 20px;
    }
    .product-container .product-count {
        position: absolute;
        top: -10px;
        right: 10px;
        background-color: red;
        color: white;
        width: 20px;
        text-align: center;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        font-size: 12px;
    }

</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <ul class="nav navbar-nav mr-auto navbar-left">
            <li class="active"><a class="page-scroll" href="/">خانه</a></li>
            <% if(!locals.messages.isLogin) {%>
                <li><a href="/auth/singup">ثبت نام</a></li>
                <li><a href="/auth/login">ورود</a></li>
            <% }else{%>
                <li><img src="/img/chagePass.png" style="height: 28px; width: 30px;" alt=""></li>
                <li><a href=""><%= locals.messages.userName %></a></li>
                <li><a href="/auth/logout">خروج از اکانت</a></li>
                <div class="product-container">
                    <div class="product-count"><%= locals.messages.mailCount%></div>
                    <a href="/cart/"><img src="/img/cart.png" alt="عکس محصول" class="product-image" style="height: 30px; "></a>
                </div>
            <% } %>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav mr-auto navbar-right">
                <a href="/blog/" style="padding-left: 7px; color: white;">مقالات</a>
                <li><a class="page-scroll" href="#products">محصولات پر بازدید</a></li>
                <a href="/product/" style="padding-left: 7px; color: white;">همه محصولات</a>
                <li><a class="page-scroll" href="#contact">تماس با ما</a></li>
                <li>    
                    
                </li>
                <% if(locals.messages.isLogin && locals.messages.isAdmin){%>
                    <div class="product-container">
                        <div class="product-count"><%= locals.messages.mailCount%></div>
                        <a href="/mail/"><img src="/img/mailbox.png" alt="عکس محصول" class="product-image" style="height: 30px; "></a>
                    </div>
                    <a href="/user/" style="padding-right: 20px;"><img src="/img/user.png" alt="UsersList" class="product-image" style="height: 30px;"></a>
                    <a href="/user/add-user/" style="padding-right: 20px;"><img src="/img/add-user.png" alt="UsersList" class="product-image"style="height: 30px;"></a>
                    <a href="/product/add-product" style="padding-right: 20px;"><img src="/img/add-product.png" alt="UsersList" class="product-image"style="height: 30px;"></a>
                    <a href="/product/manage-product" style="padding-right: 20px;"><img src="/img/products.png" alt="UsersList" class="product-image"style="height: 30px;"></a>
                    <!-- <a href="/blog/add/" style="padding-right: 20px;"><img src="/img/products.png" alt="UsersList" class="product-image"style="height: 30px;"></a> -->
                    <a href="/blog/add/">افزودن بلاگ</a>
                <% } %>
            </ul>
        </div>
    </div>
</nav>